DEFAULT_KPC_HOST="mqtt.next.kaaiot.com"
DEFAULT_KPC_PORT="1883"
APPLICATION_NAME="yourapplicationnamei4l290ccccbajfs0"
APPLICATION_VERSION="yourappversionl2cc8cccbaccc0-v1"
ENDPOINT_TOKEN="your-token"